.navbar {
    background-color: #222;
    justify-content: flex-end;
}

.navbar .logo {
    height: auto;
    width: 50px;
}

.navbar-brand, .navbar-collapse .nav-link {
    color: #bbb !important; 
}

.navbar-brand:hover, .navbar-collapse .nav-link:hover {
    color: white !important;
}